.not-found{
	text-align: center;
}
.heading{
	font-size: 100px;
	text-align: center;
	justify-content: center;
}

.text{
	font-size: 20px;
	text-align: center;
	justify-content: center;
}

.link{
	font-size: 20px;
	text-align: center;
	justify-content: center;
}